<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>My Blog</title>
</head>
<body>
    <nav>
        <div class="container">
            <a href="/" class="logo">BlogApp</a>
            <div>
                <a href="/">Home</a>
                <a href="/create" style=" padding: 0 2rem;">Write</a>
            </div>
        </div>
    </nav>